/*Ticker CSS: https://codepen.io/lewismcarey/pen/GJZVoG*/

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        transform: translate3d(-350%, 0, 0);
    }
}

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    height: 3rem;
    background-color: #2F4F4F;
    padding-left: 100%;
    box-sizing: content-box;
}

.ticker {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 20s;
}

.ticker-item{
    display: inline-block;

    padding: 0 4rem;
    font-size: 2rem;
    color: #DCDCDC !important;
    transition: background-color 1s;
}

.ticker-item:hover{
    animation-play-state: paused;
    background-color: #000000 !important;
    color: white !important;
}

body {
    background-color: #708090;
}

.categoryLinks{
    display: inline-block !important;
    font-size: 1.3em;
    padding: .4em .8em !important;
    margin: 0 .5em;
    height: 100%;
    background-color: #DCDCDC;
    transition: background-color 1s;
}

.categoryLinks:hover{
    background-color: #C0C0C0;
}

.singleArticleImage{
    align-content: center;
}

input, textarea, select{
    margin-bottom: 1em;
}

input[type=text]:hover, textarea:hover, select:hover{
    box-shadow: 0 0 3px 3px rgba(81,203,238,1);
}

input:required:focus, textarea:required:focus{
    border: 3px solid red;
}

input[type=checkbox]{
    transform: scale(3);
    margin: 1em;
}

